*{
  margin: 0;
  padding: 0;
}
body {
    margin: auto;
    min-width: 1400px;
    font-family: 'DungGeunMo', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      background-color: black;
    background-image: url(../public/backImage.png);
    overflow: hidden;
  }

  #backLayer{
    display: flex;
    margin: 40px 240px;
    width: 1430px;
    height: 940px;
    background-image: url(../public/backLayer.png);
    border-radius: 16px;
  }

  #container{
    margin-top: 40px;
    background-color: #fbfbfb;
    max-width: 960px;
    max-height: 860px;
    border-radius: 16px;
  }

  #page{
    position: relative;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 16px;
    margin: 10px;
    padding: 40px 60px;
    height: 100%;
    max-height: 680px;
  }